<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.muddassir.android.pulsarbeta" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <provider
            android:name=".data.WorkProvider"
            android:authorities="com.muddassir.android.pulsarbeta" />

        <activity
            android:name=".DialogAddHobby"
            android:label="@string/title_activity_dialog_add_hobby"
            android:parentActivityName=".PulsarMain"
            android:theme="@style/Base.V21.Theme.AppCompat.Light.Dialog" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.muddassir.android.pulsarbeta.PulsarMain" />
        </activity>
        <activity
            android:name=".DialogAddWork"
            android:label="@string/title_activity_dialog_add_work"
            android:parentActivityName=".PulsarMain"
            android:theme="@style/Base.V21.Theme.AppCompat.Light.Dialog" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.muddassir.android.pulsarbeta.PulsarMain" />
        </activity>
        <activity
            android:name=".PulsarMain"
            android:label="@string/title_activity_pulsar_main"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
